doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='x-apple-disable-message-reformatting')
        title
        style.
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-thinit-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-thinit-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-thinit.otf") format("opentype");
                font-weight: 100;
                font-style: italic;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-thin-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-thin-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-thin.otf") format("opentype");
                font-weight: 100;
                font-style: normal;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-lightit-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-lightit-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-lightit.otf") format("opentype");
                font-weight: 300;
                font-style: italic;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-light-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-light-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-light.otf") format("opentype");
                font-weight: 300;
                font-style: normal;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-regularit-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-regularit-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-regularit.otf") format("opentype");
                font-weight: 400;
                font-style: italic;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-regular-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-regular-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-regular.otf") format("opentype");
                font-weight: 400;
                font-style: normal;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-mediumit-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-mediumit-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-mediumit.otf") format("opentype");
                font-weight: 500;
                font-style: italic;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-medium-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-medium-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-medium.otf") format("opentype");
                font-weight: 500;
                font-style: normal;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-semiboldit-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-semiboldit-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-semiboldit.otf") format("opentype");
                font-weight: 600;
                font-style: italic;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-semibold-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-semibold-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-semibold.otf") format("opentype");
                font-weight: 600;
                font-style: normal;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-boldit-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-boldit-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-boldit.otf") format("opentype");
                font-weight: 700;
                font-style: italic;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-bold-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-bold-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-bold.otf") format("opentype");
                font-weight: 700;
                font-style: normal;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-extraboldit-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-extraboldit-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-extraboldit.otf") format("opentype");
                font-weight: 800;
                font-style: italic;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-extrabold-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-extrabold-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-extrabold.otf") format("opentype");
                font-weight: 800;
                font-style: normal;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-blackit-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-blackit-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-blackit.otf") format("opentype");
                font-weight: 900;
                font-style: italic;
            }
            @font-face {
                font-family: "proxima-nova";
                src: url("#{hostApiUrl}public/fonts/proximanova/proximanova-black-webfont.woff2") format("woff2"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-black-webfont.woff") format("woff"),
                url("#{hostApiUrl}public/fonts/proximanova/proximanova-black.otf") format("opentype");
                font-weight: 900;
                font-style: normal;
            {
                font-family: "proxima-nova", sans-serif;
            }
        // [endif]--
        // [if !mso] <!
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet', type='text/css')
        // <![endif]
        // Web Font / @font-face : END
        // CSS Reset
        style.
            html,
            body {
                margin: 0 auto !important;
                padding: 0 !important;
                height: 100% !important;
                width: 100% !important;
            }
            * {
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
            }
            div[style*="margin: 16px 0"] {
                margin: 0 !important;
            }
            table,
            td {
                mso-table-lspace: 0pt !important;
                mso-table-rspace: 0pt !important;
            }
            table {
                border-spacing: 0 !important;
                border-collapse: collapse !important;
                table-layout: fixed !important;
                margin: 0 auto !important;
            }
            table table table {
                table-layout: auto;
            }
            img {
                -ms-interpolation-mode: bicubic;
            }
            *[x-apple-data-detectors] {
                color: inherit !important;
                text-decoration: none !important;
            }
            .x-gmail-data-detectors,
            .x-gmail-data-detectors *,
            .aBn {
                border-bottom: 0 !important;
                cursor: default !important;
            }
            .a6S {
                display: none !important;
                opacity: 0.01 !important;
            }
            img.g-img + div {
                display: none !important;
            }
            .button-link {
                text-decoration: none !important;
            }
            @media  only screen and (min-device-width: 375px) and (max-device-width: 413px) {
                /* iPhone 6 and 6+ */
                .email-container {
                    min-width: 375px !important;
                }
            }
        //if gte mso 9
          xml
            o:officedocumentsettings
              o:allowpng
                o:pixelsperinch 96
        // Progressive Enhancements
        style.
            body, h1, h2, h3, h4, h5, h6, p, a {
                font-family: 'proxima-nova', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;;
            }
            .button-td,
            .button-a {
                transition: all 100ms ease-in;
            }
            .button-td:hover,
            .button-a:hover {
                background: #246dad !important;
                border-color: #246dad !important;
            }
            @media  screen and (max-width: 480px) {
                .fluid {
                    width: 100% !important;
                    max-width: 100% !important;
                    height: auto !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                }
                .stack-column,
                .stack-column-center {
                    display: block !important;
                    width: 100% !important;
                    max-width: 100% !important;
                    direction: ltr !important;
                }
                .stack-column-center {
                    text-align: center !important;
                }
                .center-on-narrow {
                    text-align: center !important;
                    display: block !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                    float: none !important;
                }
                table.center-on-narrow {
                    display: inline-block !important;
                }
            }
    body(width='100%', bgcolor='#f7f9fa', style='margin: 0; mso-line-height-rule: exactly;')
        center(style='width: 100%; background: #f7f9fa; text-align: left;')
            // Visually Hidden Preheader Text : BEGIN
            div(style='display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;')
                | Thank you for choosing  for roadmapping. In order to activate your account please click the button below.
            // Visually Hidden Preheader Text : END
            .email-container(style='max-width: 680px; margin: auto;')
                //if mso
                  table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', width='680', align='center')
                    tbody
                      tr
                        td
                // Email Header : BEGIN
                table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', align='center', width='100%', style='max-width: 680px;')
                    tbody
                        tr
                            td(style='padding: 20px 0; text-align: center')
                                img(src='#{hostApiUrl}public/images/logo.png', aria-hidden='true', width='auto', height='auto', alt=' Image', border='0', style='height auto; width: auto; background: #f7f9fa; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                // Email Header : END
                // Email Body : BEGIN
                table.email-container(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', align='center', width='100%', style='max-width: 680px;')
                    // Email Body : BEGIN
                    tbody
                        tr
                            td(bgcolor='#ffffff')
                                table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', width='100%')
                                    tbody
                                        tr
                                            td(style="padding: 40px 40px 20px 40px; text-align: center; font-family:'proxima-nova', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; color:#2e343b; font-size:22px; font-weight:700; line-height:2em;")
                                                | Account Activated
                                        tr
                                            td(style='padding: 20px 0; text-align: center')
                                                img(src='#{hostApiUrl}public/images/Useradded.png', aria-hidden='true', width='130', alt=' Image', border='0', style='height: auto; background: #ffffff; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                                        tr
                                            td(style="padding: 15px 20px 40px 20px; text-align: center;  font-family:'proxima-nova', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; color:#2e343b; font-size:16px; font-weight:400; line-height:2em;")
                                                strong(style="text-transform: capitalize") Hello,
                                                br
                                                br
                                                |                             Thank you, your email has been verified. Your account is now active.
                                                br
                                                | Please use the link
                                                |                             below to sign in to your account.
                                                br
                                                br
                                                // Button : BEGIN
                                                table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', align='center', style='margin: auto')
                                                    tbody
                                                        tr
                                                            td.button-td(style='border-radius: 3px; background: #222222; text-align: center;')
                                                                a.button-a(href="#{websiteUrl}/signin", style='background: #2d88d8; border: 15px solid #2d88d8; font-family: proxima-nova; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;')
                                                                    span.button-link(style='color:#ffffff;')     Sign in to your account    
                                                // Button : END
                                        tr
                                            td(bgcolor='#ffffff')
                                                table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', width='100%')
                                                    tbody
                                                        tr
                                                            td(style="padding: 0px 20px 40px 20px; text-align: center; font-family:'proxima-nova', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; color:#2e343b; font-size:14px; font-weight:300; line-height:2em;")
                                                                | Thank you for choosing  for Roadmaps.
                        // Email Body : END
                        // Email Body : END
                        // Email Footer : BEGIN
                        table(role='presentation', aria-hidden='true', cellspacing='0', cellpadding='0', border='0', align='center', width='100%', style='max-width: 680px;')
                            tbody
                                tr
                                    td.x-gmail-data-detectors(style='padding:40px 10px 20px 10px; width: 100%;font-size: 12px; font-family: sans-serif; line-height:18px; text-align: center; color: #7a8589;')
                                        webversion(style='color:#ccd4d7; text-decoration:underline; font-weight: bold;')
                                            | View as a Web Page
                                        br
                                        br
                                        |                     © 2019  Inc. All rights reserved.
                                        br
                                        | 1120 Finch Avenue West, Suite 701, Toronto, ON, M3J 3H7, CA
                                tr
                                    td.m_7296168928262505884footerContent(align='center', valign='top', style="color:#999;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:170%;padding:8px 0")
                                        table(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse:collapse;max-width:200px;margin:5px 0 15px 0')
                                            tbody
                                                tr
                                                    td(align='center', style='padding:0 10px 0 10px')
                                                        a(href='https://facebook.com/', style="color:#2d88d8;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:100%;text-decoration:none", target='_blank')
                                                            img(src='#{hostApiUrl}public/images/facebook.png', width='60', style='max-width:100%;height:auto;border:none')
                                                    td(align='center', style='padding:0 10px 0 10px')
                                                        a(href='https://twitter.com/', style="color:#2d88d8;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:100%;text-decoration:none", target='_blank')
                                                            img(src='#{hostApiUrl}public/images/twitter.png', width='32', style='max-width:100%;height:auto;border:none')
                                                    td(align='center', style='padding:0 10px 0 10px')
                                                        a(href='https://www.linkedin.com/company/', style="color:#2d88d8;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:100%;text-decoration:none", target='_blank')
                                                            img(src='#{hostApiUrl}public/images/linkedin.png', width='30', style='max-width:100%;height:auto;border:none')
                                                    td(align='center', style='padding:0 10px 0 10px')
                                                        a(href='https://www.pinterest.ca//', style="color:#2d88d8;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:100%;text-decoration:none", target='_blank')
                                                            img(src='#{hostApiUrl}public/images/pinterest.png', width='60', height='60', style='max-width:100%;height:auto;border:none')
                                tr
                                    td.x-gmail-data-detectors(style='padding: 20px 10px;width: 100%;font-size: 12px; font-family: sans-serif; line-height:18px; text-align: center; color: #7a8589;')
                                        | Want fewer emails? Turn off email notifcations to stop receiving updates.
                                        br
                                        a(href='#{unsubscribeLink}', style='color:#7a8589;cursor:pointer; sans-serif; text-decoration:underline;') unsubscribe
                        // Email Footer : END
