|Hello,


|Thank you for signing up with . Please follow the link below to confirm your registration:
|#{websiteUrl}/verification/#{userId}/#{token}


|{
|  "userId": "#{userId}",
|  "token":"#{token}"
|}


|Thank you,
| Team
